.git
.github
.vscode
node_modules
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
.env
.env.backup
.env.example
docker-compose.yml
compose.yaml
Dockerfile
.dockerignore
npm-debug.log
public/build
public/storage
